[submodule "PhysiCell"]
	path = PhysiCell
	url = https://github.com/MathCancer/PhysiCell
[submodule "PhysiCell-Studio"]
	path = PhysiCell-Studio
	url = https://github.com/PhysiCell-Tools/PhysiCell-Studio
[submodule "biodynamo"]
	path = biodynamo
	url = https://github.com/BioDynaMo/biodynamo
